<div class="container-fluid">
<nav class="navbar navbar-default">
<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Escuela <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li><a href="#">Agregar</a></li>
    <li><a href="#">Modoficar</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="#">Habilitar</a></li>
    <li><a href="#">Bloquear</a></li>
  </ul>
<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Usuario <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li><a href="{{path('Default_SelecU')}}">Agregar</a></li>
    <li><a href="#">Modificar</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="#">Habilitar</a></li>
    <li><a href="#">Bloquear</a></li>
  </ul>
<button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Trabajo<span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li><a href="#">Agregar</a></li>
    <li><a href="#">Modificar</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="#">Habilitar</a></li>
    <li><a href="#">Bloquear</a></li>
  </ul>
<button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Presentaci&oacuten<span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li><a href="#">Agregar</a></li>
    <li><a href="#">Modificar</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="#">Habilitar</a></li>
    <li><a href="#">Bloquear</a></li>
  </ul>
<button type="button" class="btn btn-warning dropdown-toggle">Salir</button>
</nav>
</div>
