{% extends '::base.html.twig' %}
{% block title %}Mensaje{% endblock %}
{% block body %}

<div class="container">
            <div class="alert alert-success">{{msj}}</div>      

</div> 

{% endblock %}