{% extends '::base.html.twig' %}
{% block title %}Mensaje{% endblock %}
{% block body %}


<div class="container">
            <div class="alert alert-danger">{{msj}}</div>      
</div> 

{% endblock %}