{% extends '::base.html.twig' %}
{% block title %}Lista de Trabajos{% endblock %}
{% block body %}  
<nav class="navbar navbar-default">
<img src="{{ asset('public/img/imgtm1.jpg') }}" alt="..." class="img-responsive">
{% for flashMessage in app.session.flashbag.get('mensaje') %}
    <span class="alert-danger"> {{ flashMessage }} <hr /> </span>
{% endfor %} 
  <div class="container-fluid">
      <ul class="nav navbar-nav">
         <li class="active"><a href="{{path('LogoutSalir')}}">Salir <span class="sr-only">(current)</span></a></li>
      </ul>
  </div>
</nav>
<div class="container-fluid">
	<div class="row">
    	<div class="col-sm-8 col-sm-offset-2 text">
        	<h2><strong>TÉCNICAMENTE</strong>2016</h2>
        </div>
    </div>
    <div class="row">
    	<div class="col-sm-6 col-sm-offset-3 form-box">
        	<div class="form-top">
            	<div class="form-top-left">
                	<h3> ¡LEER ATENTAMENTE! </h3>
                	{% if enc.configuracion.ctvcbs == 1 or enc.configuracion.ctvcss == 1 or enc.configuracion.ctvfp == 1 or enc.configuracion.ctvts == 1 %}
                    <p>A continuación debe ingresar el Número de Stand del trabajo que desea votar.</p>
                    <p>Recuerde que solo podra votar 1 (uno) trabajo por categoría (las cuales son: Ciclo Básico, Ciclo Superior, Formación Profesional y Nivel Superior).</p>
                    <p>En el caso de no tener decidido aún que trabajo votar en alguna de las categoría, agregar el valor cero (0) en el campo correspondiente. </p>
                    <p>En caso de tener alguna duda consulte con aulgunos de los arganizadores o con el administrador del sistema, gracias.</p>
                    {% elseif enc.configuracion.ctvcbs == 0 and enc.configuracion.ctvcss == 0 and enc.configuracion.ctvfp == 0 and enc.configuracion.ctvts == 0%}
						<p>Usted Ya realizo todos los votos Permitidos, gracias.</p>
                	{% endif %}
                </div>
            </div>
            <div class="form-bottom">
				<form role="form" action="{{path('VotarTrabajos')}}" method="post" class="form-horizontal">
					{% if enc.configuracion.ctvcbs == 1 %}
						<div class="form-group">
	  						<label class="col-md-4 control-label" for="cbs">Ciclo Básico ETP Stand N°:</label>  
	  						<div class="col-md-8">
	  							<input id="cbs" name="cbs" placeholder="Ingrese Número de Stand" class="form-control input-md" required="" type="text" value="">
	  						</div>
						</div>
					{% endif %}
					{% if enc.configuracion.ctvcss == 1 %}
						<div class="form-group">
							<label class="col-md-4 control-label" for="css">Ciclo Superior ETP Stand N°:</label>  
						  	<div class="col-md-8">
						  		<input id="css" name="css" placeholder="Ingrese Número de Stand" class="form-control input-md" required="" type="text" value="">
						  	</div>
						</div>
					{% endif %}
					{% if enc.configuracion.ctvfp == 1 %}
						<div class="form-group">
							<label class="col-md-4 control-label" for="fp">Formación Profesional Stand N°:</label>  
							<div class="col-md-8">
								<input id="fp" name="fp" placeholder="Ingrese Número de Stand" class="form-control input-md" required="" type="text" value="">
							</div>
						</div>
					{% endif %}
					{% if enc.configuracion.ctvts == 1 %}
						<div class="form-group">
							<label class="col-md-4 control-label" for="ts">Nivel Superior Stand N°:</label>  
							<div class="col-md-8">
								<input id="ts" name="ts" placeholder="Ingrese Número de Stand" class="form-control input-md" required="" type="text" value="">
							</div>
						</div>
					{% endif %}
					{% if enc.configuracion.ctvcbs == 1 or enc.configuracion.ctvcss == 1 or enc.configuracion.ctvfp == 1 or enc.configuracion.ctvts == 1 %}
						<div class="form-group">
							<div class="col-md-4">
								<button id="singlebutton" name="confirmarvoto" value="Confirmar" class="btn btn-primary">Votar</button>
							</div>
						</div>
					{% endif %}
				</form>
  			</div>
  		</div>
  	</div>

  	<div class="row">
  	
  	</div>

</div>

    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/scripts.js"></script>

{% endblock %}