{% extends '::base.html.twig' %}
{% block title %}Bienvenido a TECNICAMENTE 2016!!!{% endblock %}
{% block body %}

<nav class="navbar navbar-default">
  <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li class="active"><a href="{{path('SeleccionarNivel')}}">Volver <span class="sr-only">(current)</span></a></li>
      </ul>
  </div><!-- /.container-fluid -->
</nav>

<section class="Container">
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3>TécnicaMente 2016</h3>
				</div>
				<div class="panel-body">
				    <h3>Resultados</h3>
                    <table class="table table-hover">
                            <tr class="danger">
                                <th>Nombre Proyecto</th>
                                <th>Establecimineto</th>
                                <th>Cantidad de Votos</th>
                            </tr>
                        {% for trab in trabajo %}
                            <tr class="danger">
                                <td>{{trab.nombproyecto}}</td>
                                <td>{{trab.escuela.nombesc}}</td>
                                <td>{{trab.cantvoto}}</td>
                            </tr>
                        {% endfor %}
                    </table>				
				</div>
			</div>
		</div>
	</div>
</section>


{% endblock %}