{% extends '::base.html.twig' %}
{% block title %}TECNICAMENTE 2016!!!{% endblock %}
{% block body %}

<nav class="navbar navbar-default">
  <img src="{{ asset('public/img/imgtm1.jpg') }}" alt="..." class="img-responsive">
    {% for flashMessage in app.session.flashbag.get('mensaje') %}
      <span class="alert-danger">
          {{ flashMessage }}
          <hr />
      </span>
    {% endfor %}
  <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li class="active"><a href="{{path('Inicio')}}">Volver <span class="sr-only">(current)</span></a></li>
      </ul>
  </div><!-- /.container-fluid -->
</nav>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <form action="{{ path('SeleccionarNivel') }}" method="post" class="form-inline" role="form">
	    <div class="control-group">
            <label for="nivel">Nivel:</label>
            <select id="nivel" name="nivel">
                <option value="0">Seleccionar Opción</option>
                <option value="cbs">Ciclo B&aacutesico Secundaria</option>
                <option value="css">Ciclo Superior Secundaria</option>
                {#<option value="fp">Formaci&oacuten Profesional</option>
                <option value="ts">Tecnicaturas Superiores</option>#}
            </select>
	    </div>

	        <button class="btn btn-primary">Mostrar Resultados</button>
       </form>
     </div> 
  </div>
</div> 



{% endblock %}