{% extends '::base.html.twig' %}
{% block title %}Mensaje{% endblock %}
{% block body %}


<div class="container">
    <div class="alert alert-info">{{msjvotoexpe}}</div>      
</div> 



{% endblock %}