{% extends '::base.html.twig' %}
{% block title %}Bienvenido a TECNICAMENTE 2016!!!{% endblock %}
{% block body %}

{{parent()}}
<div class="container">
     <div class="row">
          <div class="col-md-4">
          </div>
          <div class="col-md-4">
          </div> 
          <div class="col-md-4">
          </div>
    </div>
</div> 



<footer>
   <p>T&eacutecnicamente 2016 - Sistema de Votaci&oacuten - Creado por <a href="https://github.com/dsyph3r">Navarro Sergio Antonio</a>
        &copy; {{ 'now' | date('Y') }}</p>
</footer>
{% endblock %}